#inputs{
  border: transparent;
  border-bottom: 1px solid #999999;
  margin:10px;
}
.button-red{
  border-radius: 15px;
  width: 100%;
  height: 40px;
  background-color:#EE3038;
  border: #EE3038;
  color: white
}
.container-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 90%;
  margin:10px
}
.logo{
  height: 250px;
  margin:25px;
}