
.container-center1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 95.1%;
  padding: 0px;
  margin: -10px;
}

#input-email{
  width: 300px;
  border: transparent;
  border-bottom: 1px solid #999999;
  margin-left: 53px;
}
#input-password{
  width: 300px;
  border: transparent;
  border-bottom: 1px solid #999999;
  margin-left: 53px;
}
.button-red1{
  border-radius: 30px;
  width: 80%;
  height: 40px;
  background-color: #EE3038;
  border: #EE3038;
  color: white;
  margin-left: 40px;
}

.logo{
    height: 220px;
    margin:25px;
    margin-left: 58px;
}
.danger{
  color: #EE3038;
}

.design {
    width: 117.3%;
}

.remember{
  margin-left: 55px;
  color: #EE3038;
}