
.welcome {
  color: white;
}

.nutriMarket {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding-right: 27px;
}

.nutriMarketCart {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding-right: 95px;
}

.pop{
  position: absolute;
  margin: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 15px;
  color: #EE3037;
  font-weight: bold;
  background-color: white;
  border: 1px solid white;
  text-align: center;
  right: 24px;
  top: 10px;
}

