
.welcome {
  color: white;
}

.nutriMarket {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding-right: 27px;
}

.nutriMarketCart {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding-right: 95px;
}


